body {
    margin: 0;
}

.sections {
    padding: 0px 125px 0px 125px;
}

.customNav {
    border-bottom: 2px solid black;
    background-color: white;
    transition: background-color 600ms;
}

/* --- navLink --- */

.navbar {
    background-color: var(--bgColor);
    transition: background-color 600ms;
    border-bottom: 1px solid transparent;
    transition: border-bottom .75s;
}

.scroll {
    border-bottom: 1px solid var(--textColor);
    transition: border-bottom .75s;
}

input[type=checkbox] {
    visibility: hidden;

}

.box {
    margin-top: 2px;
    width: 40px;
    height: 10px;
    background: gray;
    position: relative;
    border-radius: 3px;
}

.switch {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all .6s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;
    background: #000000;

}

input[type=checkbox]:checked+label {
    left: 27px;
    background: #f7f7f7;

}

.navLink {
    font-family: bely-display, sans-serif;
    font-weight: bolder;
}

.navLink:hover {
    color: var(--textColor);
}

.navLink::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.navLink:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    color: var(--textColor);
}

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--textColor);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    color: var(--textColor);
}

.link::before {
    content: '';
    /* show by default */
}

/* ---brand--- */

/* prevent underline on hover */
a {
    color: var(--textColor);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--textColor);
}

a:active {
    text-decoration: none;
}


.brand {
    height: 30px;
    align-items: center;
    color: var(--textColor);
    text-decoration: none;
    display: flex;
    font-weight: bold;
}

/* Hide extra text */
.mask {
    position: relative;
    padding: 0;
    height: 20px;

    /*  Remove overflow to see how it works　:) */
    overflow: hidden;
}

.link-container {
    transition: transform 0.4s ease;
}

.title {
    display: block;

    /*  Set same font-size and line height  */
    font-size: 20px;
    line-height: 20px;

    transition: transform 0.4s ease;
}

.link-title1 {
    transform-origin: right center;
}

.link-title2 {
    transform-origin: left center;
    transform: rotate(20deg);
}

/* hover */

.brand:hover .link-container {
    transform: translateY(-20px);
    color: var(--textColor);
    ;
}

/* Rotate texts a little bit */
.brand:hover .link-title1 {
    transform: rotate(20deg);
}

.brand:hover .link-title2 {
    transform: rotate(0);
}

/* Move arrows to right */
.brand:hover .icon:first-child {
    transform: translate(40px);
}

.brand:hover .icon:nth-child(2) {
    transform: translate(0px);
}

/* media queries */
@media (max-width: 576px) {
    .intro {
        text-align: center;
    }

    .intro-header {
        text-align: left;
    }

    .intro-para {
        text-align: left;
    }

    .intro-contact {
        text-align: center;
    }

    .sections {
        padding: 0px 25px 0px 25px;
    }

    .box {
        margin-right: auto;
    }
}

@media (min-height: 1200px) {
    .intro {
        margin-top: 22rem;
    }

    .projects {
        margin-top: 18rem;
    }
}